@use '../../../../../styles/mixins';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0.2em;
  text-align: center;
  line-height: 1.5;
  height: 5em;
}

.title {
  font-size: 1.1em;
  color: var(--base-font-color);
  font-weight: bolder;
  font-family: var(--font-m-plus-rounded-1c);
  border: none;
  background: none;
}

@include mixins.mq(sp) {
  .wrapper[data-hero-article='false'] {
    grid-area: title;
    height: initial;
  }

  .title {
    font-size: 1em;
    & [data-hero-article='false'] {
      margin: 0 auto;
    }
  }
}

@include mixins.mq(pc) {
  .title[data-hero-article='true'] {
    font-size: 1.4em;
  }
}
