@use '@/styles/mixins';

#hamburger_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2em;
  z-index: 199;
}

#menu_trigger {
  position: relative;
  cursor: pointer;
  width: 28px;
  height: 24px;

  &,
  span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
  }

  span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
  }

  &[data-menu-opened='false'] {
    span:nth-of-type(1) {
      top: 0;
    }
    span:nth-of-type(2) {
      top: 10px;
    }
    span:nth-of-type(3) {
      bottom: 0;
    }
  }

  &[data-menu-opened='true'] {
    span:nth-of-type(1) {
      top: 0;
      width: 43%;
      transform: translate3d(1.5px, 3.6px, 0) rotate(45deg);
    }

    span:nth-of-type(2) {
      top: 10px;
      width: 105%;
      transform: translate3d(-1px, 0, 0) rotate(-45deg);
    }

    span:nth-of-type(3) {
      bottom: 0;
      width: 43%;
      transform: translate3d(14px, -3.5px, 0) rotate(45deg);
    }
  }
}
