.thumbnails {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
}

.prev_image, .next_image {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--link-button-color);
    border-radius: 10px;
    color: white !important;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    height: 60%;
}
