.hrule_block {
  font-family: var(--font-m-plus-rounded-1c);
  font-weight: bold;
  padding: 3px;
  margin-top: calc(-1 * var(--main-margin) * 0.2);
  margin-bottom: calc(-1 * var(--main-margin) * 0.8);
  text-align: center;

  background: none;
  box-shadow: none;
  color: #3c7709;

  @media screen and (max-width: 800px) {
    margin-top: 0;
  }

  @media screen and (prefers-color-scheme: dark) {
    color: #ffffffbb;
  }
}

#hero_article {
  @media screen and (max-width: 800px) {
    column-gap: 8px;
    row-gap: 12px;
  }
}

#past_article_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 17px;

  @media screen and (max-width: 800px) {
    margin: 0 8px;
    column-gap: 8px;
    row-gap: 12px;
  }
}
