@use '../../../styles/mixins';

$code-block-border: 1px;
$brightness: 1.2;

$code-block-border-radius: 10px;

.code_block {
  font-family: var(--font-inconsolata), var(--font-noto-sans-mono),
    var(--font-noto-sans-jp), monospace !important;

  border: none !important;
  border-radius: $code-block-border-radius !important;

  color: white;
  padding: 1em 0;
  vertical-align: 5%;
  overflow: scroll;
  font-size: 0.85em;
  line-height: 1.8em;

  filter: brightness($brightness);

  @include mixins.mq(sp) {
    padding: 10px 0 !important;
    font-size: 0.85em;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.code_lang_wrapper + .code_block {
  margin-top: 0 !important;
  border-radius: 0 0 $code-block-border-radius $code-block-border-radius !important;

  @include mixins.mq(dark) {
    border: solid $code-block-border lightgray;
    border-top: none;
  }

  @media print {
    border: solid $code-block-border black;
    border-top: none;
    background: none !important;
    * {
      color: black !important;
    }
  }
}

.code_lang_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: $code-block-border-radius $code-block-border-radius 0 0;
  background: #536b2f;
  margin-bottom: -1px;
  height: 2em;
  padding: 0 1em;

  font-size: 0.8em;

  filter: brightness($brightness);

  .code_lang {
    filter: brightness(calc(1 / $brightness));
  }

  @include mixins.mq(dark) {
    border: solid $code-block-border lightgray;
    border-bottom: none;
  }

  @media print {
    border: solid $code-block-border black;
    border-bottom: none;
    background: none !important;
    * {
      color: black !important;
    }
  }
}

.code_lang {
  font-size: 1em;
  font-family: var(--font-m-plus-rounded-1c) !important;
  font-weight: bold;

  height: 98%;
  line-height: 1;

  display: inline-flex;
  align-items: center;
  color: white;
  padding: 0 8px;

  @include mixins.mq(sp) {
    margin-left: 0;

    @include mixins.mq(dark) {
      border-radius: (10px - $code-block-border) 0 (10px - $code-block-border) 0;
    }
  }

  @media print {
    border: solid $code-block-border black;
    border-top: none;
    -webkit-print-color-adjust: exact;
    background: lightgray;
    color: black;
  }
}

.copy_button {
  display: flex;
  align-items: center;
  background: none;
  border: none;

  color: white;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.lines {
  display: grid;
  grid-auto-flow: row;
  --padding-side: 1.5em;

  & > span {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 0 var(--padding-side);
  }

  & > .error_line,
  & > .warning_line,
  & > .info_line {
    border-left-style: solid;
    border-left-width: 0.5em;
    padding: 0 var(--padding-side) 0 calc(var(--padding-side) - 0.5em);
  }
}

.error_line {
  background: #ff000022;
  border-left-color: #ff5959;
}

.warning_line {
  background: #ffff0018;
  border-left-color: #ffb724;
}

.info_line {
  background: rgba(181, 255, 105, 0.09);
  border-left-color: #76ad3d;
}
