.icon_grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin: 30px 0;
}

.icon_block {
  display: inline-block;
  background: var(--window-bkg-color);
  padding: 10px 20px;
  border-radius: 20px;
}
