@use '../../../../styles/mixins';

.article_title_block {
    padding: 0 !important;
    border: 5px solid var(--window-bkg-color);
    overflow: hidden;
    background-size: cover;
}

.back_to_articles {
    position: absolute;
    --size: 7rem;
    --half-size: calc(var(--size) / -2);
    width: var(--size);
    height: var(--size);
    background: var(--header-color);
    transform-origin: center;

    display: flex;
    justify-content: right;
    align-items: center;
    padding: calc(var(--size) / 12);
    box-sizing: border-box;
    color: white;
    font-size: 2rem;

    * {
        transform: rotate(-45deg);
        transform-origin: center;
    }
}

.inner_title_block {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: linear-gradient(
                    166deg,
                    var(--window-bkg-color) 50%,
                    transparent
    );

    padding: 2rem 0;
    &[data-parent-has-thumbnail="true"] {
        padding:
                var(--window-padding-top-bottom)
                var(--window-padding-left-right);
    }

    @include mixins.mq(dark) {
        background-color: rgba(#202020, 0.9);
    }

    text-align: center;

    h1 {
        text-align: center !important;
        margin: .5em 0 !important;
        line-height: 1.2 !important;
    }

    @include mixins.mq(pc) {
        p {
            margin: 1.5em !important;
        }

        h1 {
            text-align: center !important;
            font-size: 2.5em !important;
        }
    }
}
