.searchForm {
  margin-top: 1em;
  width: 100%;

  & input[type='text'] {
    font-size: 1.2em;
    margin-right: 0.2em;
    padding-left: 0.5em;
    width: min(80%, 500px);
  }

  & input {
    height: 2.5rem;
  }
}
