.blog_markdown {
    border-radius: 10px var(--window-border-radius) var(--window-border-radius) 10px;
}

.editor_block {
    border-radius: var(--window-border-radius) 10px 10px var(--window-border-radius);
}

.editor_grid {
    height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}

.fullscreen {
    max-height: 100vh;
    padding: 10px;
    max-width: initial;
    box-sizing: border-box;
    width: 100%;
}
