$layout-threshold: 1000px;

@media (width >= $layout-threshold) {
    .blog_markdown {
        border-radius: 10px 10px 10px 10px;
        &:last-child {
            border-radius: 10px 10px var(--window-border-radius) 10px;
        }
    }
    .editor_block {
        border-radius: var(--window-border-radius) 10px 10px var(--window-border-radius);
    }
    .article_header {
        border-radius: 10px var(--window-border-radius) 10px 10px;
    }
}


.editor_grid {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;

    @media (width < $layout-threshold) {
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: 1fr 1fr;
    }
    gap: 1rem;
}

.fullscreen {
    padding: 10px 2rem;
    max-width: initial;
    box-sizing: border-box;
    width: 100%;
    margin: .5rem 0;
}

.article_header {
    font-size: 0.8em;
    margin-bottom: 1rem;
    & > div > div {
        padding: 1rem !important;
    }
}

.blog_markdown + .blog_markdown {
    margin-top: 1rem;
}

.editor_block {
    display: block;
    padding: 1rem;
    position: sticky;
    box-sizing: border-box;
    top: calc(var(--header-height) + .8rem);
    height: calc(100vh - var(--header-height) - 2 * .8rem)
}

.viewer_wrapper {
    padding-bottom: 10px;
}

.form_item {
    display: inline-flex;
    flex-direction: column;
    > label {
        font-size: 0.8em;
        line-height: 100%;
    }
    > div {
        margin: 0;
    }
}

.editor_form {
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    flex-flow: row wrap;
    gap: .8rem .5rem;
}
