@media screen and (max-width:1000px) {
    #about_me {
        padding: 70px 50px 50px 50px;
        margin: 1em;
        grid-area: about_me;
        border-radius: 33px;
        text-align: left;
    }

    #about_me h2 {
        text-align: left;
    }

    #about_me_grid {
        display: grid;
        grid-template-areas:
                "about_me_name  about_me_image"
                "about_me_text about_me_image";
        grid-template-rows: 100px 1fr;
        grid-template-columns: 1fr 1fr;
    }

    #about_me_name{
        grid-area: about_me_name;
    }

    #about_me_grid h3 {
        text-align: left;
        font-size: 4em;
        margin: 10px;
        padding: 0;
        font-family: 'M PLUS Rounded 1c', sans-serif;
    }

    #about_me_grid .profile_image {
        grid-area: about_me_image;
        padding: 1em 0;
        text-align: center;
        align-items: center;
    }

    #about_me_grid .profile_image svg{
        max-width: 334px;
    }


    #about_me_grid p.am_text {
        grid-area: about_me_text;
        margin: 0;
        text-align: left;
        display: flex;
        align-items: center;
    }


    #about_me_grid .plusinfo {
        grid-area: about_me_table;
        text-align: center;
    }
}

@media screen and (max-width:800px) {

    #about_me {
        padding: 60px 20px 20px 20px;
        margin: 0.5em;
        grid-area: about_me;
        border-radius: 22px;
        text-align: center;
    }

    #about_me h2 {
        text-align: left;
    }

    #about_me_grid{
        display: grid;
        grid-template-areas:
                "about_me_image"
                "about_me_name"
                "about_me_text"
                "about_me_text"
                "about_me_social";
        grid-template-rows: auto 3em auto auto 3em;
        grid-template-columns: 1fr;
    }

    #about_me_grid h3{
        grid-area: about_me_name;
        display: inline-block;
        text-align: left;
        font-size: 2em;
        margin: 0;
        font-family: 'M PLUS Rounded 1c', sans-serif;
    }

    #about_me_grid .profile_image{
        text-align:center;
        width: 100%;
    }

    #about_me_grid .am_text{
        grid-area: about_me_text;
        margin: 10px;
        text-align: left;
        display: block;
    }


    #about_me_grid .plusinfo{
        display: inline-block;
        text-align: center;
    }
}
