:root {
    --trpfrog-animation-start-degree: 0rad;
    --anim-height: min(100vw, 400px);
    --trpfrog-icon-size: min(400px, 90vw);
}

#top-page-animation {
    position: relative;
    display: block;

    height: var(--anim-height);
    background: linear-gradient(#0eaaff, #fff16c);
    border-top: 5px solid #54a60c;
    border-bottom: 2px solid #b8d381;
    overflow: hidden;
}

@keyframes spin-wheel {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#top-page-animation-lines {
    width: 100%;
    height: 100%;

    --center-x: calc(50vw);
    --center-y: calc(var(--anim-height) - var(--trpfrog-icon-size) * 0.35);

    background: repeating-conic-gradient(
        from var(--trpfrog-animation-start-degree)
        at var(--center-x) var(--center-y),
        transparent,
        transparent 12.5deg,
        rgba(255, 255, 255, 0.75) 12.5deg 30deg
    );

    transform-origin: var(--center-x) var(--center-y);
}

#top-page-trpfrog {
    display: inline-block;
    background-image: url("/images/flat-trpfrog.gif");

    background-size: var(--trpfrog-icon-size) var(--trpfrog-icon-size);
    width: var(--trpfrog-icon-size);
    height: var(--trpfrog-icon-size);

    position: absolute;
    left: calc(50% - (var(--trpfrog-icon-size) / 2));
    bottom: -50px;
}
