// Grid definition

#top_page_grid_wrapper {
    background: var(--body-background);
    position: relative;
    top: calc(-1 * var(--anim-height));
    padding: 2em;
    margin: 0;
}

@media screen and (max-width: 800px) {
    #top_page_grid_wrapper {
        padding: 8px 0 0;
    }
}

#top_page_grid {
    max-width: 1000px;
    display: inline-grid;
    grid-template-areas:
            "about_me about_me about_me"
            "whats_new whats_new whats_new"
            "sticker  icons    icons"
            "sticker  music    music"
            "bird     music    music"
            "balloon  balloon  balloon"
            "links    links    music_game";
    grid-template-columns: 3fr 2fr 3fr;
    grid-gap: var(--main-margin);
    text-align: left;
}

@media screen and (max-width: 800px) {
    #top_page_grid {
        grid-template-areas:
            "about_me"
            "whats_new"
            "icons"
            "music"
            "sticker"
            "balloon"
            "links"
            "music_game"
            "bird"
            "stats";
        grid-template-columns: 1fr;
    }
}

// Grid-area definition

#about_me_grid {
    grid-area: about_me;
}

#music_game {
    grid-area: music_game;
}

#links {
    grid-area: links;
}

#music {
    grid-area: music;
}

#icons {
    grid-area: icons;
}

#balloon {
    grid-area: balloon;
}

#sticker {
    grid-area: sticker;
}

#bird {
    grid-area: bird;
}

#whats_new {
    grid-area: whats_new;
}
