@use 'grid';

.main-window {
    margin: 1em;
    border-radius: 33px;
    text-align: left;

    h2 {
        margin: 0;
    }
}

#links {
    table {
        border-spacing: 1em;
    }
}

.link_grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    margin: 30px 0;
}

.link_block {
    display: inline-block;
    background: rgba(120, 189, 0, 0.09);
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
}

#store_links{
    display: block;

    a {
        width: 100%;
    }
}

#icons {
    .top_icons {
        margin: 10px 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
}

#bird {
    .aa {
        white-space: pre;
        font-size: 45%;
        line-height: 12px;
        display: inline-block;
    }
}

@media screen and (max-width:980px){
    #sticker table, #sticker td, #sticker th, #sticker tbody{
        display: block;
    }
}

#top_balloon_grid {
    display: grid;
    margin: 10px 0;
    grid-template-columns: repeat(7, min(130px, 12vw));
    grid-template-rows: min(217px, 20vw);
}
