@media screen and (max-width:800px) {
    main {
        padding: 0;
        text-align: center;
    }

    @media screen and (max-width:500px) {
        main {
            margin: 0.5em;
        }
    }

    main #main_wrapper {
        display: inline-grid;
        grid-template-areas: "about_me" "icons" "music" "sticker" "balloon" "links" "music_game" "bird" "stats";
        grid-template-columns: 1fr;
        text-align: left;
    }

    .main_window {
        margin: 0.5em;
        border-radius: 22px;
        text-align: left;
    }
    .main_window h2 {
        margin: 0;
    }

    #music_game {
        grid-area: music_game;
        padding: 30px 20px 20px 20px;
    }

    #stats {
        grid-area: stats;
        display: none;
        padding: 30px 20px 20px 20px;
    }

    #music {
        grid-area: music;
        padding: 30px 20px 20px 20px;
    }

    #links {
        grid-area: links;
        padding: 30px 20px 30px 30px;
    }

    #links table {
        display: block;
        width: 100%;
    }

    #links th, td {
        border-bottom: none;
        display: block;
        text-align: left;
        width: 100%;
    }

    #links tr {
        display: block;
        margin-bottom: 1em;
    }


    #icons .top_icons {
        width: 23.5%;
    }

    #icons {
        grid-area: icons;
        padding: 30px 20px 20px 20px;
    }

    #balloon {
        grid-area: balloon;
        padding: 30px 20px 20px 20px;
    }


    #sticker {
        grid-area: sticker;
        padding: 30px 20px 20px 20px;
    }

    #bird {
        grid-area: bird;
        text-align: left;
        padding: 20px 20px 20px 20px;
        height: 190px;
    }

    #bird h2 {
        margin: 0;
    }

    #bird .aa {
        white-space: pre;
        font-size: 65%;
        line-height: 12px;
        display: inline-block;
        text-align: center;
    }
}