@import "../common/grid.css";
@import "../common/header.css";
@import "../common/wide_navigation.css";
@import "../common/backtotop.css";
@import "../common/footer.css";
@import "../common/media.css";
@import "rating_text.css";
@import "../common/h2icon.css";
@import "../common/linkbutton.css";
@import "blocks.css";
@import "main_grid.css";

body{
    margin: 0;
    background: #f9fff6;
    transition: .5s;
}

@media (prefers-color-scheme: dark){
    body {
        background: #061300;
        color: white;
    }
    a:link:not(.linkButton) {
        color: aquamarine;
    }
    a:visited:not(.linkButton) {
        color: plum;
    }
}
