name = "trpfrog-diffusion"
compatibility_date = "2023-12-01"
compatibility_flags = [ "nodejs_compat", "nodejs_compat_populate_process_env" ]
routes = [
  { pattern = "api.trpfrog.net/icongen", zone_name = "trpfrog.net" },
  { pattern = "api.trpfrog.net/icongen/*", zone_name = "trpfrog.net" }
]

[observability]
enabled = true

[[r2_buckets]]
binding = "BUCKET"
bucket_name = "trpfrog-media"

[[d1_databases]]
binding = "DATABASE"
database_name = "ai-trpfrog-icon-db"
database_id = "66534e4a-091f-4bd3-be8e-07cbf7e70842"
migrations_dir = "./migrations"

[[kv_namespaces]]
binding = "KV"
id = "17627d198edc43588fcd79b65b239e55"

[assets]
directory = "./assets"
binding = "ASSETS"
