@use '@/styles/mixins';

.box {
  position: relative;
  width: 100%;
  height: 100%;
}

.scroll_operation_box,
.scroll_box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.scroll_operation_box {
  z-index: 5;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.scroll_box_wrapper {
  z-index: 1;
  flex: 1;
}

.scroll_box {
  z-index: 1;
  overflow-y: scroll;
}

.scroll_up,
.scroll_down {
  --button-color: black;
  @include mixins.mq(dark) {
    --button-color: white;
  }

  width: min(50%, 2em);
  aspect-ratio: 1;
  border-radius: 50%;

  font-size: 2em;

  color: white;
  background: rgba(black, 0.5);
  @include mixins.mq(dark) {
    color: black;
    background: rgba(white, 0.5);
  }

  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 300ms;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  &:hover {
    background: black;
    @include mixins.mq(dark) {
      background: white;
    }
  }
}

.scroll_up {
  top: 10px;
}

.scroll_down {
  bottom: 10px;
}
