@use '@/styles/mixins';

.wrapper {
  border-radius: 20px !important;
  line-height: 1;

  &:hover {
    cursor: pointer;
    background-color: #eaffd8;
  }
  &:active {
    transform: translateY(3px);
    box-shadow: none;
  }
}

.layout {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}

.image {
  width: 7rem;
  object-fit: cover;
  border-radius: 10px;
}

.no_thumbnail {
  @extend .image;
  background-color: var(--header-color);
  display: grid;
  place-items: center;
  color: var(--body-background);
  font-size: 1.3em;
}

.contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.title {
  font-size: 1.2em;
  @include mixins.mq(sp) {
    font-size: 1em;
  }
  font-weight: bold;
  font-family: var(--font-m-plus-rounded-1c);
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
  align-items: flex-end;

  .tag {
    font-size: 0.8em;
    padding: 0.3em 0.5em;
    border-radius: 100px;
    border: var(--body-background) 2px solid;
  }
}

.description {
  line-height: 1.1;
  font-size: 0.8em;
  opacity: 0.7;
}
