.prevAndNextButton{
  background-color:rgba(255, 255, 255, 0.5);
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 4px;
  margin-top: 25px;
  text-decoration: none; /*リンクの下線を消す*/
  min-width: 2em;
  width:17%;
  height: 30px;
  font-size:20px;
  font-weight:bold;
  text-align:center;
  padding:8px 0 10px;
  color:rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(66, 66, 66, 0.48);
}
@media screen and (max-width: 600px){
  .prevAndNextButton{
      padding: 0;
  }
}

@media (prefers-color-scheme: dark){
    .prevAndNextButton{
        background-color:rgba(26, 221, 0, 0.5);
        color: white !important;
    }
}

.prevAndNextButton:hover{
  color: rgb(0, 93, 145);
}
.prevAndNextButton:active{
  box-shadow: 1px 1px 3px #555
}

.imgButton{
  width:12%;
  vertical-align: middle;
  cursor: pointer;
}
@media screen and (max-width: 800px){
  .imgButton.wideimgbutton {
      display: none;
  }
  .imgButton{
    width: 15%;
  }
}

.prevAndNextButton:active{
  box-shadow: 1px 1px 3px #555
}