.tweet {
  font-size: 1.2em;
  line-height: 1.3em;
  margin: 0.8em 0 0.3em;
  cursor: text;
}

.blockquote {
  background: none;
  text-align: left;
  font-style: normal;
  margin: 0;
  padding: 0;
}
