.image {
  max-width: 100%;
  border-radius: 8px;
  max-height: 500px;
  margin-bottom: 0.8em;
}

.blockquote {
  background: none;
  text-align: left;
  font-style: normal;
  margin: 0;
  padding: 0;
}
