#animation {
  position: relative;
  display: block;

  --grad-begin: calc(var(--header-height) + var(--navigation-height));
  --grad-end: calc(var(--grad-begin) + var(--anim-height));

  height: var(--anim-height);
  background: linear-gradient(#0eaaff, #fff16c);

  overflow: hidden;
}

#lines {
  width: 100%;
  height: 100%;

  --center-x: calc(50vw);
  --center-y: calc(var(--anim-height) - var(--trpfrog-icon-size) * 0.35);

  background: repeating-conic-gradient(
    from var(--trpfrog-animation-start-degree) at var(--center-x) var(--center-y),
    transparent,
    transparent 12.5deg,
    rgba(255, 255, 255, 0.75) 12.5deg 30deg
  );

  transform-origin: var(--center-x) var(--center-y);
  filter: blur(4px);
}

.trpfrog_image {
  display: inline-block;
  width: var(--trpfrog-icon-size);
  height: var(--trpfrog-icon-size);
  background: no-repeat url('/images/flat-trpfrog.svg');
  background-size: var(--trpfrog-icon-size) var(--trpfrog-icon-size);
  position: absolute;
  left: calc(50% - (var(--trpfrog-icon-size) / 2));
  bottom: -50px;

  &[data-turn-eyes='true'] {
    background-image: url('/images/flat-trpfrog-turn.svg');
  }
}

#trpfrog_name {
  display: flex;
  justify-content: center;

  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 0;
  font-family: var(--font-m-plus-rounded-1c);
  font-size: calc(min(1000px, 100vw) / 7 * 1.4);
  font-weight: bold;
  color: white;
}

.angle_picker_wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 15px;

  display: flex;
  align-items: flex-end;
  gap: 10px;
  opacity: 0.9;

  & .angle_picker {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  }
}

.max_rpm {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 15px;

  font-family: var(--font-m-plus-rounded-1c);
  font-weight: bold;
  color: white;
  font-size: 1.5em;
  line-height: 1;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.current_rpm {
  z-index: 10 !important;
  opacity: 0.8;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
