.angle_picker_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: lightgray 1px solid;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  color: var(--header-color);
  opacity: 0.3;
  user-select: none;
  transition: 300ms;

  &:hover {
    opacity: 1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  &[data-rotate-direction='left']:hover {
    animation-name: rotate-left;
  }

  &[data-rotate-direction='right']:hover {
    animation-name: rotate-right;
  }
}

@keyframes rotate-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotate-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
