@use '@/styles/mixins';

.title {
  h1 {
    text-align: left;
    font-size: 3em;
    font-family: var(--font-m-plus-rounded-1c);
    font-weight: 800;
    line-height: 1;
    margin: 0;

    --shadow-weight: 2px;
  }

  p {
    margin-bottom: 0;
  }

  @include mixins.mq(sp) {
    h1 {
      font-size: 2em;
    }
  }
}
