.fullscreen_block {
  display: block;
  box-sizing: border-box;
  height: calc(
    100vh - var(--header-height) - var(--footer-height) - var(--navigation-height) - var(
        --main-margin
      ) * 2
  );
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  font-size: 2rem;
  font-family: var(--font-m-plus-rounded-1c);
  font-weight: 800;
  color: var(--footer-color);

  @media screen and (prefers-color-scheme: dark) {
    color: white;
  }
}
