.result_box_title {
}

.result_box_value {
  font-weight: bold;
  font-size: 2em;
}

@media screen and (max-width: 800px) {
  .result_box_value {
    font-size: 1.2em;
  }
}

.result_box {
  display: inline-block;
  border-radius: 10px;
  background: var(--header-color);
  color: white;
  padding: 10px 20px;
}

@media screen and (max-width: 800px) {
  .result_box {
    padding: 12px;
  }
}

.result_box_grid {
  font-family: var(--font-m-plus-rounded-1c);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.8em;
}

@media screen and (max-width: 800px) {
  .result_box_grid {
    gap: 0.3em;
  }
}
