@use './common/grid';
@use './common/header';
@use './common/block';
@use '../styles/mixins';
@use 'colors';

:root {
  --h3-marker-color: #90e200;
  --body-background: rgb(192, 225, 121);
  --base-font-color: #151515;

  --trpfrog-animation-start-degree: 0rad;
  --anim-height: min(100vw, 400px);
  --trpfrog-icon-size: min(400px, 90vw);

  --main-font: -apple-system, BlinkMacSystemFont, Noto Sans JP, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --footer-color: #163600;
}

@include mixins.mq(dark) {
  :root {
    --h3-marker-color: #4e8018;
    --body-background: #3d4d22;
    --base-font-color: #e5e5e5;
  }
}
