@use '@/styles/common/grid';
@use '@/styles/common/header';
@use '@/styles/common/block';
@use '@/styles/common/media';
@use '@/styles/common/linkbutton';
@use '@/styles/mixins';
@use 'colors';
@use '@/styles/common/print';
@use 'table';

:root {
  --h3-marker-color: #90e200;
  --body-background: rgb(192, 225, 121);
  --base-font-color: #151515;

  --trpfrog-animation-start-degree: 0rad;
  --anim-height: min(100vw, 400px);
  --trpfrog-icon-size: min(400px, 90vw);

  --main-font: -apple-system, BlinkMacSystemFont, Noto Sans JP, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --footer-color: #163600;
}

@include mixins.mq(dark) {
  :root {
    --h3-marker-color: #4e8018;
    --body-background: #3d4d22;
    --base-font-color: #e5e5e5;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  scroll-behavior: smooth;
  background: var(--body-background);
  color: var(--base-font-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  & > main {
    display: block;
    flex: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .only-on-light-mode {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  .only-on-dark-mode {
    display: none;
  }
}

@include mixins.mq(pc) {
  .only-on-sp {
    display: none;
  }
}

@include mixins.mq(sp) {
  .only-on-pc {
    display: none;
  }
}

.ib {
  display: inline-block;
}

*:focus {
  outline-color: #90e200;
}

main {
  letter-spacing: 0.03em;
}
.good-break {
  overflow-wrap: anywhere;
  word-break: keep-all;
}
