@use '@/styles/mixins';

#whats_new_table {
  overflow-y: scroll;
  font-size: 0.8em;
  line-height: 1.2em;
  max-height: 450px;
  width: 100%;
  margin-top: 10px;
}

.whats_new_row {
  min-height: 2.5em;
  display: grid;
  grid-template-columns: 3em auto;
  border-bottom: dashed 2px var(--window-bottom-color);
  padding: 5px;

  @include mixins.mq(dark) {
    border-color: white;
  }

  div {
    display: flex;
    align-items: center;
  }

  div + div {
    margin-left: 10px;
  }

  p {
    margin: 0;
  }
}

.whats_new_date {
  width: 3.5em;
  margin-right: 5px;
}
