@use '../../../../styles/mixins';

.block {
  display: flex;
  flex-direction: column;
  padding: var(--window-padding-top-bottom)
    min(var(--window-padding-left-right), 1.5em);
}

.table_wrapper {
  position: relative;
  height: 100%;
  min-height: 350px;
  flex: 1;
}

#whats_new_table {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  font-size: 0.8em;
  line-height: 1.2em;
  width: 100%;
  margin-top: 10px;
}

.whats_new_row {
  min-height: 2.5em;
  display: grid;
  grid-template-columns: 3em auto;
  border-bottom: dashed 2px var(--window-bottom-color);
  padding: 5px;

  @include mixins.mq(dark) {
    border-color: white;
  }

  div {
    display: flex;
    align-items: center;
  }

  div + div {
    margin-left: 10px;
  }

  p {
    margin: 0;
  }
}

.whats_new_date {
  width: 3.5em;
  margin-right: 5px;
}
