@use '@/styles/mixins';

.hide_when_scroll_down {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  transition-timing-function: ease-out;

  &[data-show='false'] {
    transition-duration: 100ms;
    transform: translateY(-110%);
  }
  &[data-show='true'] {
    transition-duration: 200ms;
    transform: translateY(0px);
  }
}

.header {
  background: var(--header-color);
  width: 100% !important;

  overflow: hidden;

  height: var(--header-height);
  -webkit-filter: var(--header-filter);
  box-shadow: var(--header-filter);
}

.inside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  @include mixins.mq(sp) {
    margin: 0 1em 0 0.5em;
    width: auto;
  }

  height: var(--header-height);
}

.site_name_wrapper {
  position: relative;
  top: 2px;
  display: inline-flex;
  align-items: center;
  height: var(--header-height);
}

.site_name {
  text-align: left;
  margin: auto 0;
  display: block;
  color: #ffffff;
  font-size: 1.7em;
  font-family: var(--font-m-plus-rounded-1c);
  font-weight: 800;

  @include mixins.mq(sp) {
    grid-area: page_title;
    font-size: 1.4em;
  }
}

.subtitle {
  position: relative;
  top: -5px;
  --nav-width: 370px;
  --width: calc(
    min(100vw - 5em, 900px) - var(--header-icon-size) - var(--nav-width)
  );

  font-size: 15px;
  @include mixins.mq(sp) {
    --width: calc(100vw - var(--header-icon-size) - 80px);
    font-size: 11px;
    top: -8px;
  }

  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  width: var(--width);
}

.trpfrog_icon {
  width: var(--header-icon-size);
  height: var(--header-icon-size);
  margin-top: 4px;

  background-image: url('/images/flat-trpfrog.gif');
  background-size: contain;
  background-repeat: no-repeat;

  @include mixins.mq(sp) {
    margin-top: 0;
  }
}

.site_logo {
  display: grid;
  grid-template-rows: var(--header-height);
  gap: 5px;
  grid-template-columns: var(--header-icon-size) auto;

  // top-page animation
  .trpfrog_icon,
  .site_name_wrapper {
    transition-timing-function: ease-out;
  }

  &[data-show-icon='false'] {
    .trpfrog_icon {
      transition-duration: 300ms;
      transform: translateY(90%);
    }
    .site_name_wrapper {
      transition-duration: 320ms;
      transform: translateX(calc(-1 * var(--header-icon-size) - 0px));
    }
  }
  &[data-show-icon='true'] {
    .trpfrog_icon {
      transition-duration: 320ms;
      transform: translateY(0);
    }
    .site_name_wrapper {
      transition-duration: 300ms;
      transform: translateX(0px);
    }
  }
}

.on_subtitle_showed {
  @include mixins.mq(pc) {
    transform: translateY(2px);
  }
}

.nav_wrapper {
  display: flex;
  position: relative;
  top: 3px;
  gap: 1em;

  @include mixins.mq(sp) {
    top: 0;
    gap: 0;
  }
}

.navigation {
  text-align: right;
  font-family: var(--font-comfortaa);
  color: #ffffff;

  ul {
    padding: 0 !important;
    margin: 0 !important;
  }

  li {
    display: inline-block;
    list-style-type: none;
    font-family: var(--font-comfortaa);
    color: #ffffff;
    text-decoration: none;
    margin-right: 0.5em;

    font-size: 1.5em;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    &:hover {
      color: #90e200;
    }

    &:before {
      content: none !important;
    }
  }

  li + li {
    padding-left: 0.5em;
    border-left: 2px solid #ffffff;
  }

  @include mixins.mq(sp) {
    ul {
      display: none;
    }
  }
}

.title_link {
  &,
  a {
    text-decoration: none !important;
    color: white !important;
    &:hover {
      color: #90e200 !important;
    }
  }
}
