@use '../mixins';

.hrule_block {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: bold;
    padding: 3px;
    margin-top: calc(-1 * var(--main-margin) * 0.2);
    margin-bottom: calc(-1 * var(--main-margin) * 0.8);
    text-align: center;

    background: none;
    box-shadow: none;
    color: #3c7709;

    @include mixins.mq(sp) {
        margin-top: 0;
    }

    @include mixins.mq(dark) {
        color: #ffffffbb;
    }
}

.anchor {
    @include mixins.mq(pc) {
        position: relative;
        left: -1.2em;
        a {
            opacity: 0;
            margin-right: .3em;
        }
        &:hover {
            a {
                opacity: 1;
                color: lightgray;

                &:hover {
                    color: #90e200;
                }
            }
        }
    }
    @include mixins.mq(sp) {
        a {
            display: none;
        }
    }
}

#hero_article {
    @include mixins.mq(sp) {
        margin: 0 8px;
        column-gap: 8px;
        row-gap: 12px;
    }
}

#past_article_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 17px;

    @include mixins.mq(sp) {
        margin: 0 8px;
        column-gap: 8px;
        row-gap: 12px;
    }
}

@mixin text_box($border, $bkg) {
    padding: 0.5em 1em 0.5em 0;
    margin: 2em 0;
    border-left: solid 10px $border;
    background: $bkg;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 3em auto;

    h4 {
        margin: 0;
        font-size: 1.1em;
    }

    p {
        margin: 0.5em 0;
        padding: 0;
    }

    .text_box_icon {
        display: flex;
        justify-content: center;
        padding-top: .1em;
        font-size: 1.5em;
        color: $border;
    }
}

.caution {
    @include text_box(#ffc06e, rgba(255, 216, 129, 0.22));
}

.infobox {
    @include text_box(var(--header-color), rgba(120, 189, 0, 0.09));
}
