main h2 {
    display: block;
}

main h2 a {
    color: rgb(14, 51, 0);
}

main h2 a:hover {
    color: #67a300;
}

.item-label {
    display: inline-block;
    margin-left: 10px;
    padding: 1px 10px;
    font-size: 18px;
    font-weight: bold;
    color: white; 
    text-shadow: none;
    background-color: #96e410;
    border-radius: 10px;
    user-select: none;
}

.article-description {
    margin-bottom: 0;   
}

@media screen and (max-width: 800px) {
    
    h2 {
        font-size: 1.1em;
    }
    
    .item-label {
        font-size: 1em;
        line-height: 1.5;
        padding: 0 7px;
        margin-left: 5px;
    }
    
    main p {
        margin: 0.5em 0;
    }
    
    main h2:before {
        width: 30px;
        height: 30px;
        margin-right: 0;
    }
    
    .written-date {
        line-height: 1.2;
        font-size: 0.9em;
    }
}