:root {
    --tag-button-active: #66a928;
    --tag-button-hovered: #90e200;
    --tag-button-disabled: rgb(184, 192, 170);
}

.article_tag {
    display: inline-block;
    margin-right: 5px;
    font-size: 0.8em;
    padding: 0 5px;
    border-radius: 5px;
    background-color: var(--tag-button-active);
    color: white; 
    font-weight: bold;
}

.tag-icon {
    vertical-align: -10%;
    color: var(--tag-button-active);
}

.tag-selector-icon {
    font-size: 1.5em;
    vertical-align: -10%;
    color: var(--tag-button-active);
}

.tag_button {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 0.2em 0.5em;
    border-radius: 5px;
    background-color: var(--tag-button-active);
    color: white; 
    font-weight: bold;
    user-select: none;
}

.tag_button:hover {
    cursor: pointer;
    background-color: var(--tag-button-hovered);
}