@use '../mixins';

.caption {
    color: gray;
    line-height: 1.5;
    @include mixins.mq(dark) {
        color: lightgray;
    }
}

.taken_by {
    @extend .caption;
    display: inline-block;
    text-align: right;
    max-width: 100%;
}

.img_wrapper {
    text-align: center;
    margin: 2em 0;
    span {
        overflow: visible !important;
    }
}

.image {
    box-shadow: 0 0 1px 1px rgba(gray, 0.3);
    transition: box-shadow ease-in-out 0.2s;
    cursor: zoom-in;

    @include mixins.mq(pc) {
        &:hover {
            box-shadow: 0 3px 10px 1px rgba(gray, 0.7);
        }
    }
    page-break-inside: avoid;
}
