.wrapper {
    width: 100%;
    text-align: center;
}

.box {
    display: inline-block;
    text-align: left;
    position: relative;

    max-width: 550px;
    width: 100%;

    color: black;
    background: white;

    border-radius: 10px;
    border: solid 1px lightgray;
    box-sizing: border-box;
    padding: 1em;
    margin: .5em 0;

    cursor: pointer;

    transition: .2s;

    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    &:hover {
        background: #f5f5f5;
    }
}

.header {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;

    .icon {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
    }

    .header_left {
        display: flex;
    }

    .name_box {
        display: flex;
        margin-left: .5em;
        align-items: center;

        * {
            line-height: 1.3em;
        }

        .name {
            color: black;
            font-weight: bold;
        }

        .userid {
            font-size: .9em;
            color: gray;
        }
    }
}

.tweet {
    font-size: 1.2em;
    line-height: 1.3em;
    margin: .8em 0 .3em;
    cursor: text;
}

.image img {
    width: 100%;
    border-radius: 8px;
    margin: 5px 0;
}

.image, .tweet {
    blockquote {
        background: none;
        text-align: left;
        font-style: normal;
        margin: 0;
        padding: 0;
    }
}

.date {
    a {
        color: gray;
    }
}

.logo {
    line-height: 1em;
    color: dodgerblue;
}