@use '../mixins';

:root {
    --window-padding-top-bottom: 40px;
    --window-padding-left-right: 40px;
    --window-bottom-color: #9cc535;
}

@include mixins.mq(sp) {
    :root {
        --window-padding-top-bottom: 18px;
        --window-padding-left-right: 12px;
    }
}

@include mixins.mq(dark) {
    :root {
        --window-bottom-color: #35420e;
    }
}

.main-window {
    position: relative;
    background-color: var(--window-bkg-color);
    padding: var(--window-padding-top-bottom) var(--window-padding-left-right);
    border-radius: 33px;
    text-align: left;
    box-shadow: 0 6px 0 var(--window-bottom-color);
    overflow-x: hidden;

    .no-padding {
        position: relative;
        --main-width: min(1000px, 100vw - 2 * var(--main-margin));

        // TODO: use variable
        @include mixins.mq(sp) {
            --main-width: calc(100vw - 2 * 8px);
        }

        --left-margin: calc(0.5 * (100vw - var(--main-width)));
        width: var(--main-width);
        left: calc(-1 * ((100vw - 100%) / 2 - var(--left-margin)));
        margin: 0;
    }
}

.main-window h2 {
    margin: 0;
}

@include mixins.mq(sp) {
    .main-window {
        background-color: var(--window-bkg-color);
        border-radius: 10px;
        text-align: left;
        margin: 0 8px;
    }
}

