#footer_wrapper {
    display: flex;
    align-items: center;
    max-width: 950px;
    margin: 0 auto;
    padding: 0 4em;
    justify-content: space-between;
}

footer {
    background: #163600;
    justify-content: space-between;
    width: 100%;
    height: var(--footer-height);
}


footer #footer_wrapper #copyright {
    /*grid-area: t;*/
    text-align: left;
    color: #ffffff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.5em;

    display: flex;
    align-items: center;
}

footer #footer_wrapper #share {
    text-align: right;

    align-items: center;
}

footer #footer_wrapper #share {
    display: flex;
}

@media screen and (max-width: 800px) {
    footer {
        text-align: center;
    }

    footer #footer_wrapper {
        text-align: center;
    }

    footer #footer_wrapper #share {
        display: none;
    }

    footer #footer_wrapper #copyright {
        margin: 12px auto;
        font-size: 1em;
    }
}

footer #footer_wrapper #share .shareButton {
    margin-left: 0.8em;
}

footer #footer_wrapper #share {
    margin-right: 25px;
}
