:root {
    --footer-color: #163600;
}

footer {
    background: var(--footer-color);
    justify-content: space-between;
    width: 100%;
    height: var(--footer-height);
}

#footer-wrapper {
    display: flex;
    align-items: center;
    max-width: 950px;
    margin: 0 auto;
    padding: 0 4em;
    justify-content: space-between;

    #copyright {
        display: flex;
        align-items: center;

        text-align: left;
        color: #ffffff;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-size: 1.5em;
    }

    #share {
        display: flex;
        text-align: right;
        align-items: center;
        margin-right: 25px;

        .shareButton {
            margin-left: 0.8em;
        }
    }
}

.footer-button {
    background: white;
    cursor: pointer;
    text-decoration: none;
    display: block;
    font-weight: bold;
    padding: 10px;
    width: 70px;
    border-radius: 100px;
    margin-right: 25px;
    color: var(--footer-color) !important;
}

.footer-button:hover {
    background: #d7e3bb;
}

@media screen and (max-width: 800px) {
    footer {
        text-align: center;

        #footer-wrapper {
            text-align: center;
            padding: 0 30px;
        }

        #footer-wrapper #share {
            display: none;
        }

        #footer-wrapper #copyright {
            margin: 12px 0;
            font-size: 1em;
        }

        .footer-button {
            padding: 1px;
            font-size: 0.6em;
            margin-right: 0;
        }
    }
}

