@use '../mixins';

:root {
    --header-height: 5rem;
    --navigation-height: 3em;
    --footer-height: 6em;
    --main-margin: 2em;
    --window-bkg-color: white;
}

@include mixins.mq(sp) {
    :root {
        --header-height: 3.5rem;
        --navigation-height: 0px;
        --footer-height: 3em;
        --main-margin: 0px;
    }
}
@include mixins.mq(dark) {
    :root {
        --window-bkg-color: #202020;
    }
}

html {
    scroll-behavior: smooth;
}

#inner-body {
    margin: 0;
    display: grid;
    height: 100vh;
    background: #f9fff6;
    text-align: center;
    min-height: 100%;
    grid-template-areas: "h" "n" "m" "f";
    grid-template-rows:
            var(--header-height)
            var(--navigation-height)
            auto
            var(--footer-height);
    grid-template-columns: minmax(0, 1fr);
}

@include mixins.mq(dark) {
    .grid {
        background: #0c2400;
    }
}

header {
    grid-area: h;
}

main {
    grid-area: m;
    padding: 0;
    max-height: 100%;
    text-align: center;
}

#wide_nav {
    grid-area: n;
}

@include mixins.mq(sp) {
    main {
        --main-margin: 12px;
        padding: 0;
    }

    #wide_nav {
        display: none;
    }
}

footer {
    grid-area: f;
}
