main h2 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #172c00;
}

@media (prefers-color-scheme: dark) {
    main h2 {
        color: #f1ffd0;
    }
}

main h2:before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}

h2.trpfrog:before {
    background-image: url('../../public/images/icons/trpfrog.webp');
}

h2.ice:before {
    background-image: url('../../public/images/icons/ice.webp');
}

h2.think:before {
    background-image: url('../../public/images/icons/thinking.webp');
}

h2.noa:before {
    background-image: url('../../public/images/icons/noa.webp');
}

h2.think:before {
    background-image: url('../../public/images/icons/thinking.webp');
}

h2.pumpkin:before {
    background-image: url('../../public/images/icons/pumpkin.webp');
}

h2.car:before {
    background-image: url('../../public/images/icons/car.webp');
}

h2.evil:before {
    background-image: url('../../public/images/icons/evil.webp');
}

h2.heart:before {
    background-image: url('../../public/images/icons/heart.webp');
}

h2.robot:before {
    background-image: url('../../public/images/icons/robot.webp');
}

h2.otaku:before {
    background-image: url('../../public/images/icons/otaku.webp');
}

h2.shark:before {
    background-image: url('../../public/images/icons/shark.webp');
}

h2.locked:before {
    background-image: url('../../public/images/icons/locked.webp');
}

h2.hina:before {
    background-image: url('../../public/images/icons/hina.webp');
}

h2.none::before {
    background-image: none;
    width: 0;
    margin-right: 0;
}
