@use "mobilemenu";

:root {
    --header-color: #66a928d3;
    --header-filter: drop-shadow(0em 0.1em 0.3em rgba(0, 0, 0, 0.4));
}

@media (prefers-color-scheme: dark) {
    :root {
        --header-color: #4f831fd3;
        --header-filter: drop-shadow(0em 0.1em 1em rgba(251, 255, 4, 0.4));
    }
}

header {
    position: fixed;
    background: #66a928d3;
    justify-content: space-between;
    width: 100%;

    height: var(--header-height);
    -webkit-filter: var(--header-filter);
    filter: var(--header-filter);
    z-index: 99;

    -webkit-backdrop-filter: saturate(200%) blur(20px);
    backdrop-filter: saturate(200%) blur(20px);
    transition: 1s;

    a {
        text-decoration: none;
        color: white !important;
    }

    a:hover {
        color: #90e200 !important;
    }
}

#header-wrapper {
    display: flex;
    align-items: center;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 4em;
    justify-content: space-between;

    #hamburger_menu {
        display: none;
    }

    h1 {
        text-align: left;
        display: inline-block;
        color: #ffffff;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-weight: bold;
    }
}

#tweet_search {
    display: none !important;
}

#subtitle {
    font-size: 0.8em;
    margin-right: -5px;
}

@media screen and (min-width: 1000px) {
    #header-wrapper #tweet_search {
        display: flex;
        text-align: right;
        color: #ffffff;
    }

    #header-wrapper input {
        border-color: rgba(220, 255, 148, 0.67);
        font-size: 0.8em;
        background-color: rgba(220, 255, 148, 0.67);
    }

    #header-wrapper .twibutton {
        display: inline-block;
        border-radius: 5%;
        text-align: center;
        cursor: pointer;
        background: rgba(220, 255, 148, 0.67);
        color: #000;
        box-shadow: 1px 1px 2px #666666;
        border: rgba(220, 255, 148, 0.67);
    }

    #header-wrapper .twibutton:active {
        display: inline-block;
        border-radius: 5%;
        text-align: center;
        cursor: pointer;
        background: rgba(0, 171, 6, 0.67);
        box-shadow: 1px 1px 2px #666666;
        border: rgba(220, 255, 148, 0.67);
    }
}

@media screen and (max-width: 1000px) {
    #header-wrapper #tweet_search {
        display: none;
    }
}

#header-wrapper h1:before {
    content: '';
    display: inline-block;
    width: 1.7em;
    height: 1.7em;
    background-image: url('../../public/images/icons/trpfrog.webp');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 0.3em;
}

#header-wrapper nav {
    text-align: right;
    font-family: 'Comfortaa', cursive;
    color: #ffffff;
}

.headerButton {
    font-family: 'Comfortaa', cursive;
    text-align: left;
    color: #ffffff;

    text-decoration: none;
    font-size: 1.5em;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.headerButton:hover {
    color: #90e200
}

#header-wrapper nav li {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    font-family: 'Comfortaa', cursive;
    color: #ffffff;
    text-decoration: none;
    margin-right: 0.8em;
    padding-left: 1.2em;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

nav li + li {
    border-left: 2px solid #ffffff;
}

#sp_menu {
    display: none;
}

@media screen and (max-width: 800px) {
    #header-wrapper nav ul {
        display: none;
    }

    #header-wrapper {
        width: 100%;
        display: inline-grid;
        grid-template-areas: "page_title hamburger_menu";
        grid-template-columns: auto 3em;
        grid-template-rows: 4em;
        padding: 0;
        text-align: center;

        h1 {
            text-align: center;
            grid-area: page_title;
            font-size: 1.5em;
            margin-left: 1em;
        }

        h1:after {
            display: none;
        }

        #hamburger_menu {
            display: block;
            grid-area: hamburger_menu;
            padding-top: 5px;
            width: 2em;
        }
    }

    .menu-trigger, .menu-trigger span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
    }

    .menu-trigger {
        position: relative;
        width: 28px;
        height: 24px;

        span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: #fff;
            border-radius: 4px;
        }

        span:nth-of-type(1) {
            top: 0;
        }

        span:nth-of-type(2) {
            top: 10px;
        }

        span:nth-of-type(3) {
            bottom: 0;
        }
    }
}
