@use "mobilemenu";

:root {
    --header-color: #66a928;
    --header-filter: drop-shadow(0 0.2em 0 #5a9623);
}

@media (prefers-color-scheme: dark) {
    :root {
        --header-color: #4f831f;
        --header-filter: drop-shadow(0 0.2em 0 rgb(49, 80, 15));
    }
}

header {
    position: fixed;
    background: var(--header-color);
    justify-content: space-between;
    width: 100%;
    overflow: hidden;

    height: var(--header-height);
    -webkit-filter: var(--header-filter);
    filter: var(--header-filter);
    z-index: 99;

    -webkit-backdrop-filter: saturate(200%) blur(20px);
    backdrop-filter: saturate(200%) blur(20px);

    a {
        text-decoration: none;
        color: white !important;
    }

    a:hover {
        color: #90e200 !important;
    }
}

#header-wrapper {
    display: flex;

    align-items: center;
    justify-content: space-between;

    max-width: 980px;
    margin: 0 auto;
    padding: 0 4em;
    height: var(--header-height);
    overflow: hidden;

    h1 {
        position: relative;
        top: 2px;
        left: 4px;

        text-align: left;
        display: inline-block;
        color: #ffffff;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-weight: 800;
        margin: 1em 0;
    }
}

#header-title-image {
    content: '';
    display: inline-block;
    background-image: url('../../public/images/flat-trpfrog.gif');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 0.3em;

    position: relative;
    width: 80px;
    height: 80px;
    bottom: -1px;
}

#tweet_search {
    display: none !important;
}

@media screen and (min-width: 1000px) {
    #header-wrapper #tweet_search {
        display: flex;
        text-align: right;
        color: #ffffff;
    }

    #header-wrapper input {
        border-color: rgba(220, 255, 148, 0.67);
        font-size: 0.8em;
        background-color: rgba(220, 255, 148, 0.67);
    }

    #header-wrapper .twibutton {
        display: inline-block;
        border-radius: 5%;
        text-align: center;
        cursor: pointer;
        background: rgba(220, 255, 148, 0.67);
        color: #000;
        box-shadow: 1px 1px 2px #666666;
        border: rgba(220, 255, 148, 0.67);
    }

    #header-wrapper .twibutton:active {
        display: inline-block;
        border-radius: 5%;
        text-align: center;
        cursor: pointer;
        background: rgba(0, 171, 6, 0.67);
        box-shadow: 1px 1px 2px #666666;
        border: rgba(220, 255, 148, 0.67);
    }
}

@media screen and (max-width: 1000px) {
    #header-wrapper #tweet_search {
        display: none;
    }
}


#header-wrapper nav {
    position: relative;
    top: 3px;
    text-align: right;
    font-family: 'Comfortaa', cursive;
    color: #ffffff;
}

.headerButton {
    font-family: 'Comfortaa', cursive;
    text-align: left;
    color: #ffffff;

    text-decoration: none;
    font-size: 1.5em;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.headerButton:hover {
    color: #90e200
}

#header-wrapper nav li {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    font-family: 'Comfortaa', cursive;
    color: #ffffff;
    text-decoration: none;
    margin-right: 0.8em;
    padding-left: 0.8em;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

header li:before {
    content: none !important;
}

nav li + li {
    border-left: 2px solid #ffffff;
}

#sp_menu {
    display: none;
}

@media screen and (max-width: 800px) {
    #header-wrapper nav ul {
        display: none;
    }

    #header-wrapper {
        width: 100%;
        display: inline-grid;
        grid-template-areas: "page_title hamburger_menu";
        grid-template-columns: auto 3em;
        grid-template-rows: var(--header-height);
        padding: 0;
        text-align: center;

        h1 {
            text-align: center;
            grid-area: page_title;
            font-size: 1.5em;
            margin-left: 2.9em;
        }

        h1:after {
            display: none;
        }

    }

    #header-title-image {
        position: absolute;
        width: 57px;
        height: 57px;
        left: 12px;
        margin-bottom: -5px
    }
}
