#mobilemenu {
    display: none;
    text-align: left;
}

#menu_background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: 0.5s;
}

#side_menu {
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    max-width: 250px;
    width: 100%;
    height: 100%;
    text-align: left;
    z-index: 51;

    background: #50861f;
    box-shadow: -3px 0 #538c1d;

    transition: 0.5s;
    animation-timing-function: ease-in-out;
}

.menu-closed, .menu-opened, .menu-bkg-closed, .menu-bkg-opened {
    display: none;
}

#side_header {
    margin: 0;
    padding: 0;
    height: var(--header-height);
}

#side_header #sidemenu_close {
    margin-right: 20px;
    padding-top: 7px;
    font-size: 2em;
    height: 100%;
    color: white;
}

#side_links {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    width: 100%;
}

#side_links .sidemenu_link {
    width: 100%;
    cursor: pointer;
    color: white;
    font-size: 1.5em;
    padding: 1em 1em;
}

.sidemenu_highlighted {
    background: rgba(0, 0, 0, 0.28);
}

#side_links a {
    display: inline-block;
    color: white !important;
    text-decoration: none;
    width: 100%;
    border-bottom: 1px solid;
    border-bottom-color: rgba(255, 255, 255, 0.151);
}

#hamburger_menu {
    display: none;
}

@media screen and (max-width: 800px) {
    #hamburger_menu {
        display: block;
        position: absolute;
        top: 1.1em;
        right: 1em;
        width: 2em;
        z-index: 199;
    }

    .menu-closed {
        display: block;
        right: -260px;
    }

    .menu-opened {
        display: block;
        right: 0;
    }

    #menu_background {
        display: block;
    }

    .menu-bkg-closed {
        z-index: -1;
        opacity: 0;
    }

    .menu-bkg-opened {
        z-index: 50;
        opacity: 0.7;
    }

    .menu-trigger, .menu-trigger span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
    }

    .menu-trigger {
        position: relative;
        width: 28px;
        height: 24px;

        span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: #fff;
            border-radius: 4px;
        }
    }

    .menu-trigger-closed {
        @extend .menu-trigger;

        span:nth-of-type(1) {
            top: 0;
        }

        span:nth-of-type(2) {
            top: 10px;
        }

        span:nth-of-type(3) {
            bottom: 0;
        }
    }

    .menu-trigger-opened {
        @extend .menu-trigger;

        span:nth-of-type(1) {
            top: 0;
            width: 43%;
            -webkit-transform: translate3d(1.5px, 3.6px, 0) rotate(45deg);
            transform: translate3d(1.5px, 3.6px, 0) rotate(45deg);
        }

        span:nth-of-type(2) {
            top: 10px;
            width: 105%;
            -webkit-transform: translate3d(-1px, 0, 0) rotate(-45deg);
            transform: translate3d(-1px, 0, 0) rotate(-45deg);
        }

        span:nth-of-type(3) {
            bottom: 0;
            width: 43%;
            -webkit-transform: translate3d(14px, -3.5px, 0) rotate(45deg);
            transform: translate3d(14px, -3.5px, 0) rotate(45deg);
        }
    }
}
