#wide-nav {
    background: #66a928d3;
    text-align: center;
    z-index: 50;

    position: absolute;
    width: 100%;
    height: calc(var(--navigation-height) + var(--header-height));

    a {
        display: inline-block;
        font-family: 'Comfortaa', cursive;
        text-decoration: none;
        color: white;
        padding: 1em;
    }

    box-shadow: 0 3px 0 #54a60c;
}

#wide-nav-wrapper {
    position: absolute;
    bottom: 9px;
    width: 100%;
    vertical-align: bottom;
}

@media (prefers-color-scheme: dark) {
    #wide-nav {
        background: #2d4b11d3;
    }
}

@media screen and (min-width: 800px) {
    .sidemenu_link {
        border-radius: 1000px;
        height: 1.3em;
        margin: 0 2px;
        padding: 6px 12px 0 !important;
        transition: .1s;
    }

    .sidemenu_link:hover:not(.sidemenu_highlighted) {
        background: rgba(255, 255, 255, 0.2);
        a:hover {
            color: #90e200;
        }
    }

    .sidemenu_highlighted {
        background: white;
        color: #66a928d3 !important;
        cursor: default;
    }
}
