:root {
    --window-padding: 40px;
}

@media screen and (max-width: 800px) {
    :root {
        --window-padding: 20px;
    }
}

main {
    max-height: 100%;
    text-align: center;
}

main #main_wrapper {
    width: 100%;
    max-width: 1000px;
    display: inline-grid;
    grid-gap: var(--main-margin);
    text-align: left;
}

#title h1 {
    text-align: left;
    font-size: 3em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    line-height: 1;
    margin: 0;
}

#title {
    margin: calc(3em - var(--main-margin)) 3em;
}

#title p {
    margin-bottom: 0;
}

.main-window {
    background-color: var(--window-bkg-color);
    padding: var(--window-padding);
    border-radius: 33px;
    text-align: left;
}

.main-window h2 {
    margin: 0;
}

@media screen and (max-width: 800px) {
    main {
        padding: 0;
        text-align: center;
        margin: calc(var(--window-padding) * 1.3) 0 calc(var(--window-padding) * 0.7);
    }

    #title {
        margin: 0 var(--window-padding) var(--window-padding);
    }

    #title h1 {
        font-size: 2em;
    }

    .main-window {
        background-color: var(--window-bkg-color);
        border-radius: 0;
        text-align: left;
    }
}

h3 {
    display: inline-block;
    --marker-begin: 60%;
    --marker-end: 90%;
    --marker-color: #90e200;
    background: linear-gradient(
                    transparent var(--marker-begin),
                    var(--marker-color) var(--marker-begin),
                    var(--marker-color) var(--marker-end),
                    transparent var(--marker-end));
    margin-bottom: 0;
}

a:link:not(.linkButton) {
    color: green;
}

a:visited:not(.linkButton) {
    color: #003500;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #061300;
        color: white;
    }

    a:link:not(.linkButton) {
        color: aquamarine;
    }

    a:visited:not(.linkButton) {
        color: plum;
    }
}
