:root {
    --navigation-height: 3em;
}

#wide-nav {
    background: #66a928d3;
    text-align: center;
    z-index: 50;

    position: absolute;
    width: 100%;
    height: calc(var(--navigation-height) + var(--header-height));

    a {
        display: inline-block;
        font-family: 'Comfortaa', cursive;
        text-decoration: none;
        color: white;
        padding: 1em;
    }

    a:hover {
        color: #90e200;
    }
}

#wide-nav-wrapper {
    position: absolute;
    bottom: -4px;
    width: 100%;
    vertical-align: bottom;
}

@media (prefers-color-scheme: dark) {
    #wide-nav {
        background: #2d4b11d3;
    }
}
