@use '@/styles/mixins';

.plain_block {
  position: relative;
  background-color: var(--window-bkg-color);
  border-radius: var(--window-border-radius);
  text-align: left;
  box-shadow: 0 6px 0 var(--window-bottom-color);
  overflow: hidden;

  @media print {
    border: solid 0.5mm gray !important;
  }
}

.clickable {
  &:hover {
    cursor: pointer;
    box-shadow: 0 8px 0 var(--window-bottom-color);
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: none;
    transform: translateY(6px);
  }
}
