@use '../../styles/mixins';

#page_top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 26px;
  bottom: 29px;
  background: #18810a50;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50%;
  box-shadow:
    0 2px 10px -6px rgba(0, 0, 0, 0.5),
    0 3px 10px -4px rgba(0, 0, 0, 0.4);
  transition: 0.2s;
}

#page_top:hover {
  transition: 0.2s;
  background: #18810abb;
}

#back_to_top_icon {
  position: relative;
  display: block;
  text-align: center;
  width: 50px;
  height: 50px;
  top: 10px;
  text-decoration: none;
  font-weight: 900;
  font-size: 25px;
  color: white;
}

@include mixins.mq(sp) {
  #page_top {
    display: none;
  }
}
