@use '../mixins';

:root {
  --window-padding-top-bottom: 40px;
  --window-padding-left-right: 40px;
  --window-bottom-color: #9cc535;
  --window-border-radius: 33px;
}

@include mixins.mq(sp) {
  :root {
    --window-padding-top-bottom: 18px;
    --window-padding-left-right: 12px;
    --window-border-radius: 10px;
  }
}

@include mixins.mq(dark) {
  :root {
    --window-bottom-color: #35420e;
  }
}
