@use '../mixins';

:root {
  --header-height: 4rem;
  --navigation-height: 3em;
  --footer-height: 3em;
  --main-margin: 2em;
  --window-bkg-color: white;
}

@include mixins.mq(sp) {
  :root {
    --header-height: 3rem;
    --navigation-height: 0px;
    --footer-height: 3em;
    --main-margin: 8px;
  }
}
@include mixins.mq(dark) {
  :root {
    --window-bkg-color: #202020;
  }
}
