.details {
  border-radius: 10px;
  border: 2px solid var(--body-background);
  box-shadow: 0 3px 0 0 var(--window-bottom-color);

  transition: 100ms;
  overflow: hidden;

  summary {
    cursor: pointer;
    font-weight: bold;
    padding: 5px 15px;
    background: var(--body-background);
    list-style: none;
    overflow: hidden;

    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      transition: 100ms;
      font-weight: bold;
      color: var(--base-font-color);
      -webkit-text-stroke: 2px var(--base-font-color);
      float: right;
      content: 'ï¼‹';
      border-radius: 100px;
    }
  }

  &:not([open]) {
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 5px 0 0 var(--window-bottom-color);
    }

    &:active {
      transform: translateY(3px);
      box-shadow: none;
    }
  }

  &[open] {
    box-shadow: none;
    & > summary {
      &::after {
        transform: rotate(45deg);
      }
    }
  }

  & > *:not(summary):not(ul):not(details):not(hr) {
    padding: 0.3rem 1rem;
  }

  & > hr {
    margin: 1rem;
  }

  details {
    margin: 1rem;
  }
}
