@mixin text_box($border, $bkg) {
  padding: 0.5em 1em 0.5em 0;
  margin: 2em 0;
  border-left: solid 10px $border;
  background: $bkg;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 3em auto;

  h4 {
    margin: 0;
    font-size: 1.1em;
  }

  p {
    margin: 0.5em 0;
    padding: 0;
  }

  .text_box_icon {
    display: flex;
    justify-content: center;
    padding-top: 0.1em;
    font-size: 1.5em;
    color: $border;
  }
}

.caution {
  @include text_box(#ffc06e, rgba(255, 216, 129, 0.22));
}

.infobox {
  @include text_box(var(--header-color), rgba(120, 189, 0, 0.09));
}
