@use '@/styles/mixins';

.main-window {
  margin: 1em;
  border-radius: 33px;
  text-align: left;

  h2 {
    margin: 0;
  }
}

#links {
  table {
    border-spacing: 1em;
  }
}

.link_grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  margin: 30px 0;
}

.link_block {
  display: inline-block;
  background: rgba(120, 189, 0, 0.09);
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center;
}

#store_links {
  display: block;

  a {
    width: 100%;
  }
}

#icons {
  .top_icons {
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

#bird {
  .aa {
    white-space: pre;
    font-size: 45%;
    line-height: 12px;
    display: inline-block;
  }
}

@media screen and (max-width: 980px) {
  #sticker table,
  #sticker td,
  #sticker th,
  #sticker tbody {
    display: block;
  }
}

#top_balloon_grid {
  display: grid;
  margin: 10px 0;
  grid-template-columns: repeat(7, min(130px, 12vw));
  grid-template-rows: min(217px, 20vw);
}

// Grid definition

#top_page_grid_wrapper {
  background: var(--body-background);
  padding: 2em;
  margin: 0;
}

@include mixins.mq(sp) {
  #top_page_grid_wrapper {
    padding: 8px 0 0;
  }
}

#top_page_grid {
  max-width: 1000px;
  display: inline-grid;
  grid-template-areas:
    'about_me about_me whats_new'
    'about_me about_me whats_new'
    'sticker  icons    icons'
    'sticker  music    music'
    'bird     music    music'
    'balloon  balloon  balloon'
    'links    links    diffusion'
    'links    links    music_game';
  grid-template-columns: 3fr 2fr 3fr;
  grid-gap: var(--main-margin);
  text-align: left;
}

@include mixins.mq(sp) {
  #top_page_grid {
    grid-template-areas:
      'about_me'
      'whats_new'
      'icons'
      'music'
      'sticker'
      'balloon'
      'diffusion'
      'links'
      'music_game'
      'bird'
      'stats';
    grid-template-columns: 1fr;
  }
}

// Grid-area definition

#about_me_grid {
  grid-area: about_me;
}

#music_game {
  grid-area: music_game;
}

#links {
  grid-area: links;
}

#music {
  grid-area: music;
}

#icons {
  grid-area: icons;
}

#balloon {
  grid-area: balloon;
}

#sticker {
  grid-area: sticker;
}

#bird {
  grid-area: bird;
}

#whats_new {
  grid-area: whats_new;
}

#diffusion {
  grid-area: diffusion;
}
