.grid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
    line-height: 1.4;
}

.date {
    white-space: nowrap;
    display: inline-block;
    color: var(--footer-color);
    font-family: var(--font-comfortaa);
    -webkit-text-stroke: 1px var(--footer-color);
    text-stroke: 1px var(--footer-color);
    transform: translateY(1px);
}
