.grid {
  --trpfrog-net-speech-bubble-pad-top: 0.5rem;

  font-family: var(--main-font);

  @media screen and (min-width: 800px) {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1em;
    row-gap: 0.5em;
  }
}

.name_wrapper {
  max-width: 35vw;
  line-height: 1.3;

  @media screen and (min-width: 800px) {
    display: flex;
    justify-content: flex-end;
    margin-top: calc(var(--trpfrog-net-speech-bubble-pad-top) - 0.11em);
  }
  @media screen and (max-width: 800px) {
    margin: 1em 0;
  }
}

.name {
  display: inline-block;
  height: fit-content;
  min-width: 2em;
  text-align: center;
  background: rgba(80, 168, 0, 0.2);
  font-weight: bold;
  border-radius: 1000px;
  padding: 0.2em 0.5em;
}

.value {
  --bubble-color: var(--body-background);

  position: relative;
  display: inline-block;
  border-radius: 0.3em;

  line-height: 1.6em;
  width: fit-content;
  margin-left: 0.1em;
  padding: var(--trpfrog-net-speech-bubble-pad-top) 0.7rem;
  border: 2px solid var(--bubble-color);

  /** PC用の左向き吹き出し */
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: calc(1.2em + var(--trpfrog-net-speech-bubble-pad-top));
    margin-top: -0.7em;
    border: 0.3em solid transparent;
    border-right-width: 0.7em;
    border-right-style: solid;
  }
  &:before {
    left: -1em;
    border-right-color: var(--bubble-color);
    z-index: 1;
  }
  &:after {
    left: -0.65em;
    border-right-color: var(--window-bkg-color);
    z-index: 2;
  }

  /* モバイル用の上向き吹き出し */
  @media screen and (max-width: 800px) {
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: calc(1.2em + var(--trpfrog-net-speech-bubble-pad-top));
      margin-left: -0.7em;
      border: 0.3em solid transparent;
      border-bottom-width: 0.7em;
      border-bottom-style: solid;
    }
    &:before {
      border-bottom-color: var(--bubble-color);
      top: -0.25rem;
      z-index: 1;
    }
    &:after {
      border-bottom-color: var(--window-bkg-color);
      top: 0.05rem;
      z-index: 2;
    }
  }
}

.value_wrapper {
  display: inline-block;
  width: 100%;
  position: relative;
  top: -0.1em;
}

.out_of_comment {
  display: inline-block;
  margin: 0.3rem 0 0 0.3rem;

  &:before {
    content: '\02190'; // ←
    margin-right: 0.1em;
    @media screen and (max-width: 800px) {
      content: '\02191'; // ↑
    }
  }

  @media screen and (max-width: 800px) {
    display: block;
  }
}
