.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #d25454;
  min-height: 350px;
  border-radius: 10px;
}

.msg {
  text-align: center;
  color: white;
}

.title {
  font-family: var(--font-m-plus-rounded-1c);
  font-size: 1.5em;
  font-weight: bold;
}
