.wrapper {
  display: block;
  position: fixed;
  bottom: 0;
  right: 100px;
  width: 300px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  z-index: 100;
  background: var(--window-bkg-color);

  @media screen and (max-width: 800px) {
    display: none;
  }
}

.drag_and_drop {
  height: 200px;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding: 15px;
}

.drag_and_drop_text {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-style: dashed;
  border-width: 2px;
}

.tab {
  background: var(--header-color);
  width: 100%;
  height: 30px;
  color: white;
  font-weight: bold;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.code_block {
  padding: 5px;
  font-size: 0.8em;
}
