@import 'tailwindcss' prefix(tw);

@config '../../tailwind.config.ts';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility break-anywhere {
  overflow-wrap: anywhere;
  word-break: keep-all;
}

@layer base {
  & *:focus {
    outline-color: #90e200;
  }

  :root {
    --color-body: 192 225 121;
    --color-text: 21 21 21;
    --color-window: 255 255 255;
    --color-header: 102 169 40;
  }

  @media screen and (prefers-color-scheme: dark) {
    :root {
      --color-body: 61 77 34;
      --color-text: 229 229 229;
      --color-window: 32 32 32;
      --color-header: 79 131 31;
    }
  }

  & p {
    @apply tw:my-5;
  }

  & article {
    @apply tw:leading-[1.8];
  }
}
