@use '@/styles/mixins';

#mobile_menu {
  text-align: left;

  @include mixins.mq(pc) {
    display: none;
  }
}

#menu_background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: 0.5s;

  &[data-menu-opened='false'] {
    z-index: -1;
    opacity: 0;
  }

  &[data-menu-opened='true'] {
    z-index: 50;
    opacity: 0.7;
  }
}

#side_menu {
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  max-width: 250px;
  width: 100%;
  height: 100%;
  text-align: left;
  z-index: 51;

  background: #50861f;
  box-shadow: -3px 0 #538c1d;

  transition: 0.5s;
  animation-timing-function: ease-in-out;

  &[data-menu-opened='false'] {
    display: block;
    right: -260px;
  }

  &[data-menu-opened='true'] {
    display: block;
    right: 0;
  }
}

#side_header {
  margin: 0;
  padding: 0;
  height: var(--header-height);
}

#side_links {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: var(--font-comfortaa);
  width: 100%;

  *[data-current-page='true'] {
    background: rgba(0, 0, 0, 0.28);
  }

  a {
    display: inline-block;
    color: white;
    text-decoration: none;
    width: 100%;
    border-bottom: 1px solid;
    border-bottom-color: rgba(255, 255, 255, 0.151);

    cursor: pointer;
    font-size: 1.5em;
    padding: 1em 1em;
  }
}
