@use '@/styles/mixins';

.img_wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
  width: fit-content;
  text-align: center;
  gap: 5px;
  margin: 0;

  color: gray;
  @include mixins.mq(dark) {
    color: lightgray;
  }
}

.image {
  max-width: 100%;
  box-shadow: 0 0 1px 1px rgba(gray, 0.3);
  transition: box-shadow ease-in-out 0.2s;

  @include mixins.mq(pc) {
    &:hover {
      box-shadow: 0 3px 10px 1px rgba(gray, 0.7);
    }
  }
  page-break-inside: avoid;
}

.caption {
  line-height: 1.5;
}

.taken_by {
  display: inline-block;
  text-align: right;
  width: 100%;
  line-height: 1;
}
