@use '@/styles/mixins';

.caption {
  color: gray;
  line-height: 1.5;
  @include mixins.mq(dark) {
    color: lightgray;
  }
}

.taken_by {
  @extend .caption;
  display: inline-block;
  text-align: right;
  width: 100%;
}

.img_wrapper {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 2em 0;
}

.image {
  box-shadow: 0 0 1px 1px rgba(gray, 0.3);
  transition: box-shadow ease-in-out 0.2s;

  @include mixins.mq(pc) {
    &:hover {
      box-shadow: 0 3px 10px 1px rgba(gray, 0.7);
    }
  }
  page-break-inside: avoid;
}

.client_img_wrapper {
  position: relative;
}

.spoiler {
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 5px);
  border-radius: 5px;
  backdrop-filter: blur(20px);
}

.spoiler_text {
  border-radius: 1000px;
  padding: 0.5em 1em;
  background: rgba(white, 0.5);
  color: black;
  backdrop-filter: blur(10px);
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background: rgba(white, 0.7);
  }
}
