@use '../../styles/mixins';

.main_wrapper {
  width: calc(100% - 2 * var(--main-margin));
  margin: var(--main-margin) auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: var(--main-margin);
  text-align: left;

  @media print {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: none;
  }

  @include mixins.mq(sp) {
    width: 100%;
    margin: calc(var(--window-padding-top-bottom) * 0.7) 0
      calc(var(--window-padding-top-bottom) * 0.7);
  }
}
