@use '@/styles/mixins';

$code-block-border: 1px;
$brightness: 1.2;

.post code {
  font-family: var(--font-noto-sans-mono), var(--font-noto-sans-jp), monospace !important;
}

.code_block {
  color: white;
  padding: 1em 1.5em !important;
  vertical-align: 5%;
  overflow: scroll;
  border-radius: 10px;
  font-size: 0.95em;
  line-height: 1.8em;

  filter: brightness($brightness);

  @include mixins.mq(sp) {
    padding: 10px !important;
    font-size: 0.85em;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.code_block_with_lang {
  margin-top: -1px;
  border-radius: 0 0 10px 10px;
  padding: 0.5em 1.5em 1em 1.5em !important;

  @include mixins.mq(dark) {
    border: solid $code-block-border lightgray;
    border-top: none;
  }

  @media print {
    border: solid $code-block-border black;
    border-top: none;
    background: none !important;
    * {
      color: black !important;
    }
  }
}

.code_lang_wrapper {
  border-radius: 10px 10px 0 0;
  background: rgb(40, 44, 52);
  margin-bottom: -1px;

  filter: brightness($brightness);

  .code_lang {
    filter: brightness(calc(1 / $brightness));
  }

  @include mixins.mq(dark) {
    border: solid $code-block-border lightgray;
    border-bottom: none;
  }

  @media print {
    border: solid $code-block-border black;
    border-bottom: none;
    background: none !important;
    * {
      color: black !important;
    }
  }
}

.code_lang {
  font-size: 0.9em;
  font-family: var(--main-font) !important;

  display: inline-block;
  color: white;
  margin-left: 1.5em;
  padding: 0 8px;

  position: relative;

  background: var(--header-color);
  border-radius: 0 0 10px 10px;
  width: auto;

  @include mixins.mq(sp) {
    border-radius: 10px 0 10px 0;
    margin-left: 0;

    @include mixins.mq(dark) {
      border-radius: (10px - $code-block-border) 0 (10px - $code-block-border) 0;
    }
  }

  @media print {
    border: solid $code-block-border black;
    border-top: none;
    -webkit-print-color-adjust: exact;
    background: lightgray;
    color: black;
  }
}

.inline_code_block {
  display: inline;
  word-break: break-all;
  background-color: #0001 !important;

  @include mixins.mq(dark) {
    background-color: #313131 !important;
    color: white;
  }
  font-family: var(--font-noto-sans-mono), var(--font-noto-sans-jp), monospace;
  padding: 0 4px;
  font-size: 0.9em;
  border-radius: 5px;

  @include mixins.mq(dark) {
    border: solid 1px gray;
  }

  @media print {
    border: solid 1px gray;
    background: #eee !important;
    color: black;
  }
}
