@use "../../../../../styles/mixins";

.tags {
    margin: 4px 0 2px 4px;
    overflow-x: scroll;

    &::-webkit-scrollbar{
        display: none;
    }

    white-space: nowrap;
    a {
        margin-right: 4px;
    }
}
