#balloon_grid {
    display: block;
    margin: 10px 0;
}

#balloon_grid {
    .balloon {
        display: inline-block;
        width: 57px;
        height: 95px;
    }
}

.balloon {
    cursor: crosshair;
    $path: '../public/images/balloon';

    &[data-broken-balloon="true"] {
        background-image: url($path + '/broken.png');
        cursor: default;
    }

    &[data-broken-balloon="false"] {
        @mixin f($color) {
            background-image: url($path + '/' + $color + '/normal.png');
            &:hover {
                background-image: url($path + '/' + $color + '/tremble.gif');
            }
        }
        content: '';
        &[data-balloon-color="blue"]   { @include f('blue') }
        &[data-balloon-color="green"]  { @include f('green') }
        &[data-balloon-color="orange"] { @include f('orange') }
    }
}
