#past_article_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 17px;

    @media screen and (max-width: 800px) {
        margin: 0 8px;
        column-gap: 8px;
        row-gap: 12px;
    }
}

.article_block {
    padding: 17px;
    box-sizing: border-box;
    height: 100%;
    margin: 0;

    h2 {
        font-size: 1.2em;
    }
}

.hrule_block {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: bold;
    padding: 3px;
    margin-top: calc(-1 * var(--main-margin) * 0.2);
    margin-bottom: calc(-1 * var(--main-margin) * 0.8);
    text-align: center;

    background: none;
    box-shadow: none;
    color: #3c7709;

    @media screen and (max-width: 800px) {
        margin-top: 0;
    }

    @media screen and (prefers-color-scheme: dark) {
        color: #ffffffbb;
    }
}

.tag_block:hover {
    background: #90e20033;
}

.tag_name {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 1px 3px 0 0;
}

.tag_emoji {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
    width: 2em;
    height: 2em;
}

#inner_title_block {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    background-color: rgba(white, 0.85);
    padding: var(--window-padding-top-bottom) var(--window-padding-left-right);

    @media screen and (prefers-color-scheme: dark) {
        background-color: rgba(#202020, 0.85);
    }
}

.post {

    h2 {
        display: block;
        margin-top: 2em !important;
    }

    #main_wrapper {
        max-width: 1000px;
        font-size: 1.1em;
    }

    h2.trpfrog::before {
        background-image: none;
        width: 0;
        margin-right: 0;
    }

    main {
        word-break: break-word;
    }

    .blog_img_caption {
        color: gray;
        margin: 0;
        @media screen and (prefers-color-scheme: dark) {
            color: lightgray;
        }
    }

    blockquote {
        background: #90e20033;
        padding: 10px 2em;
        border-radius: 15px;
        font-style: italic;
    }

    @media screen and (max-width:800px) {
        .main_window img {
            border-radius: 10px;
            max-width: 100%;
            margin: 0.5em auto;
        }

        blockquote {
            padding: 5px 1em;
            margin: 0.5em auto;
        }
    }


    h2::before {
        background-image: none !important;
        width: 0 !important;
        margin-right: 0 !important;
    }

    code {
        font-family: 'Noto Sans Mono', 'Noto Sans JP', monospace !important;
    }

    .code_block {
        color: white;
        padding: 1em 1.5em !important;
        vertical-align: 5%;
        overflow: scroll;
        border-radius: 10px;
        font-size: 0.95em;
        line-height: 1.8em;
    }

    .code_block_with_lang {
        margin-top: -1px;
        border-radius: 0 0 10px 10px;
        padding: 0.5em 1.5em 1em 1.5em !important;
    }

    .code_lang_wrapper {
        border-radius: 10px 10px 0 0 ;
        background: #23241f;
        margin-bottom: -1px;
    }

    .code_lang {
        display: inline-block;
        color: white;
        font-weight: bold;
        margin-left: 1.5em;
        padding: 3px 8px;

        position: relative;

        background: var(--header-color);
        border-radius: 0 0 10px 10px;
        width: auto;
    }

    @media screen and (max-width: 800px) {
        .code_block {
            padding: 10px !important;
            font-size: 0.85em;
        }
        .code_lang {
            border-radius: 10px 0 10px 0;
            margin-left: 0;
        }
    }
}

.inline_code_block {
    background-color: #313131 !important;
    font-family: 'Noto Sans Mono', 'Noto Sans JP', monospace;
    color: white;
    padding: 0 4px;
    font-size: 0.8em;
    display: inline-block;
    border-radius: 5px;
    vertical-align: 5%;
}

.tag_block {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    border: solid 2px #90e200;
    background: white;

    color: black !important;
    text-decoration: none;

    padding: 2px;
    border-radius: 1000px;

    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 0.8em;

    margin-right: 4px;
    margin-bottom: 4px;

    @media screen and (prefers-color-scheme: dark) {
        background: #172c00;
        color: white !important;
    }
}
