@use 'mixins';

.name {
    font-weight: bold;
}

.gadget_image_wrapper {
    overflow: hidden;
    text-align: center;
}

.image {
    display: inline;
    border-radius: 10px;
    object-fit: cover;
}

@include mixins.mq(sp) {
    .gadget_image_wrapper {
        max-width: 100%;
    }
}