@use 'common/grid';
@use 'common/header';
@use 'common/footer';
@use 'common/h2icon';
@use 'common/block';
@use 'common/title_block';
@use 'common/navigation';
@use 'common/backtotop';
@use 'common/media';
@use 'common/linkbutton';
@use 'top-page/animation';
@use 'mixins';
@use 'common/print';

:root {
    --h3-marker-color: #90e200;
    --body-background: rgb(192, 225, 121);
    --base-font-color: #151515;
}

@include mixins.mq(dark) {
    :root {
        --h3-marker-color: #4e8018;
        --body-background: #3d4d22;
        --base-font-color: #e5e5e5;
    }
}

html, body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, Noto Sans JP, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body, #inner-body {
    background: var(--body-background);
    color: var(--base-font-color);
}

a:link {
    color: green;
}

a:visited {
    color: #003500;
}

@include mixins.mq(dark) {
    a:link:not(.linkButton) {
        color: aquamarine;
    }

    a:visited {
        color: plum;
    }
}

h3 {
    display: inline-block;
    padding: 0 7px 0 6px;
    border-left: solid 7px var(--header-color);
    background: rgba(120, 189, 0, 0.09);
    @include mixins.mq(dark) {
        background: var(--body-background);
    }
    border-radius: 1px 5px 5px 1px;
}

@media screen {
    ul {
        li {
            list-style-type: none;
            position: relative;
            padding-left: 0.4em;
        }

        li:before {
            border-radius: 50%;
            width: 6px;
            height: 6px;
            position: absolute;
            left: -0.5em;
            top: 0.78em;
            content: "";
            background: #3c7709;
        }
    }

    ul ul li:before {
        background: #649d31;
    }

    ul ul ul li:before {
        background: #66d207;
    }
}

hr {
    border: 0.1px dashed gray;
}
