@use 'mixins';

#buttons {
    display: grid;
    gap: 1em;
    margin: 0 1em;
    div {
        color: var(--base-font-color) !important;
        background: var(--window-bkg-color);
    }
}

#timetable_grid {
    display: grid;
    grid-template-columns: 1fr repeat(5, 3fr);
    grid-template-rows: 3em repeat(5, 8em);
    margin: 1em 0;

    @include mixins.mq(sp) {
        display: block;
    }
}

.lecture_wrapper {
    display: grid;
    grid-template-areas: "period content";
    grid-template-columns: 0 1fr;
    height: 100%;

    .fixed_cell {
        display: none;
        grid-area: period;
    }

    .lecture_cell {
        grid-area: content;
    }

    @include mixins.mq(sp) {
        grid-template-columns: 3em auto;

        .fixed_cell {
            display: flex;
        }
    }
}

.timetable_cell {
    background: var(--header-color);
    color: white;
    box-sizing: border-box;
    padding: 1em;
    margin: 0.2em;
    border-radius: 0.8em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.lecture_cell {
    @extend .timetable_cell;
    background: none;
    border: solid 5px var(--header-color);
    color: var(--base-font-color);

    text-align: center;
    cursor: pointer;

    &:hover {
        background: #90e20050;
    }

    .lecture_name {
        font-weight: bold;
    }
}

.fixed_cell {
    @extend .timetable_cell;
    font-weight: bold;
}

.pc_only {
    @include mixins.mq(sp) {
        display: none;
    }
}


.lecture_detail {
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    color: var(--base-font-color);

    h2 {
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-weight: 900;
        @include mixins.mq(pc) {
            font-size: 2em;
        }
        margin-bottom: .3em;
    }
    .teacher {
        margin: 0;
    }

    .info {
        margin: .3em;
    }

    .lecture_grid {
        grid-template-areas:
            "semester time teacher";
    }

    .type {
        margin: .3em;
    }

    .review {
        * {
            margin-top: 2em;
            text-align: left;
            line-height: 2em;
            text-indent: 1em;
        }

        max-height: 50vh;
        overflow: scroll;
    }
}
