@use '@/styles/mixins';

.wrapper {
  width: 100%;
  text-align: center;
}

.box {
  display: inline-block;
  text-align: left;
  position: relative;

  max-width: 550px;
  width: 100%;

  background: white;
  border: solid 1px lightgray;
  @include mixins.mq(dark) {
    background: black;
    border-color: rgb(52, 54, 58);
  }

  border-radius: 10px;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.5em 0;

  cursor: pointer;

  transition: 0.2s;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &:hover {
    background: #f5f5f5;
    @include mixins.mq(dark) {
      background: rgb(22, 22, 22);
    }
  }
}

.header {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;

  .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
  }

  .header_left {
    display: flex;
  }

  .name_box {
    display: flex;
    margin-left: 0.5em;
    align-items: center;

    * {
      line-height: 1.3em;
    }

    .name {
      color: var(--base-font-color);
      font-weight: bold;
    }

    .userid {
      font-size: 0.9em;
      color: gray;
    }
  }
}

.tweet {
  font-size: 1.2em;
  line-height: 1.3em;
  margin: 0.8em 0 0.3em;
  cursor: text;
}

.image {
  text-align: center;
  blockquote {
    display: inline-block;
  }
  img {
    max-width: 100%;
    border-radius: 8px;
    margin: 5px 0;
    max-height: 500px;
  }
}

.image,
.tweet {
  blockquote {
    background: none !important;
    text-align: left;
    font-style: normal !important;
    margin: 0;
    padding: 0 !important;
  }
}

.reply {
  color: dodgerblue;
}

.date {
  a {
    color: gray;
  }
}

.logo {
  line-height: 1em;
  @include mixins.mq(light) {
    color: dodgerblue;
  }
}
