.img_wrapper {
  overflow: hidden;
}

.thumbnail {
  width: 100%;
  height: 200px;

  @media screen and (max-width: 800px) {
    &[data-hero-article='false'] {
      height: 100%;
    }
  }
}

.information {
  margin: 1em;
  text-align: center;

  & * {
    margin: 0.2em;
  }
}

@media screen and (max-width: 800px) {
  .thumbnail_wrapper {
    grid-area: thumbnail;

    & > span {
      height: 100% !important;
      width: var(--image-width) !important;
    }
  }

  .information {
    grid-area: info;
    margin: 0 0 5px;
    line-height: 1.5;
  }
}
