@use '../../../styles/mixins';

.main_wrapper {
  width: calc(100% - 2 * var(--main-margin));
  margin: var(--main-margin) auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: var(--main-margin);
  text-align: left;

  @media print {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: none;
  }

  @include mixins.mq(sp) {
    // TODO: main-window の影も height に含めて、この行を消す
    grid-gap: calc(var(--main-margin) * 1.5);
  }
}
