.balloon {
    cursor: crosshair;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;

    $path: '../../../../public/images/balloon';

    &[data-broken-balloon="true"] {
        background-image: url($path + '/broken.png');
        cursor: default;
    }

    &[data-broken-balloon="false"] {
        content: '';
        $colors: 'blue', 'green', 'orange';
        @each $color in $colors {
            &[data-balloon-color=#{$color}] {
                background-image: url($path + '/' + $color + '/normal.png');
                &:hover {
                    background-image: url($path + '/' + $color + '/tremble.gif');
                }
            }
        }
    }
}

.starting_point_of_effect {
    display: inline-block;
}
