.temp_google_font_variables {
    --font-comfortaa: 'Comfortaa', sans-serif;
    --font-m-plus-rounded-1c: 'M PLUS Rounded 1c', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-noto-sans-jp: 'Noto Sans JP', sans-serif;
    --font-noto-sans-mono: 'Noto Sans Mono', monospace;
    --font-biz-udp-gothic: 'BIZ UDPGothic', sans-serif;
}
