@use 'code';
@use 'articles';

@use '../../../styles/mixins';

.article_block {
    padding: 17px;
    box-sizing: border-box;
    height: 100%;
    margin: 0;

    h2 {
        font-size: 1.2em;
    }
}

.article_title_block {
    padding: 0 !important;
    border: 5px solid var(--window-bkg-color);
    overflow: hidden;
}

.inner_title_block {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    padding:
        var(--window-padding-top-bottom)
        var(--window-padding-left-right);

    @include mixins.mq(dark) {
        background-color: rgba(#202020, 0.9);
    }

    text-align: center;

    h1 {
        text-align: center !important;
        margin: .5em 0 !important;
        line-height: 1.2 !important;
    }

    @include mixins.mq(pc) {
        p {
            margin: 1.5em !important;
        }

        h1 {
            text-align: center !important;
            font-size: 2.5em !important;
        }
    }
}

#entry_bottom_buttons {
    background: none;
    box-shadow: none;
    padding: 0;
}

.pretty_details {
    border-radius: 10px;
    border: 2px solid var(--body-background);
    box-shadow: 0 3px 0 0 var(--window-bottom-color);
    
    margin: 2em 0;

    transition: 100ms;
    overflow: hidden;

    summary {
        cursor: pointer;
        font-weight: bold;
        padding: 5px 15px;
        background: var(--body-background);
        list-style: none;
        overflow: hidden;

        &::-webkit-details-marker {
            display: none;
        }

        &::after {
            font-family: var(--font-noto-sans-jp);
            transition: 100ms;
            font-weight: bold;
            color: var(--base-font-color);
            -webkit-text-stroke: 2px var(--base-font-color);
            float: right;
            content: '＋';
            border-radius: 100px;
        }
    }

    &:not([open]) {
        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 5px 0 0 var(--window-bottom-color);
        }

        &:active {
            transform: translateY(3px);
            box-shadow: none;
        }
    }

    &[open] {
        box-shadow: none;
        & > summary {
            &::after {
                transform: rotate(45deg)
            }
        }
    }

    & > *:not(summary):not(ul):not(details):not(hr) {
        padding: .3rem 1rem;
    }

    & > hr {
        margin: 1rem;
    }

    details {
        margin: 1rem;
    }
}

@media print {
    #entry_top_buttons, #entry_bottom_buttons {
        display: none;
    }
}

.post {
    @include mixins.mq(pc) {
        --max-w: 800px;
        max-width: var(--max-w);
        padding: calc((100% - var(--max-w)) / 2) 0;
    }
    margin: 0 auto;

    h2 {
        display: block;
        margin-top: 0;

        &::before {
            background-image: none !important;
            width: 0 !important;
            margin-right: 0 !important;
        }

        &.trpfrog::before {
            background-image: none;
            width: 0;
            margin-right: 0;
        }
    }

    * + h2 {
        margin-top: 2em;
    }

    main {
        word-break: break-word;
    }

    blockquote {
        background: #90e20033;
        padding: 10px 2em;
        border-radius: 15px;
        font-style: italic;

        @include mixins.mq(sp) {
            padding: 5px 1em;
            margin: 0.5em auto;
        }
    }

    h3 {
        margin-top: 2em;
    }

    details {
        @extend .pretty_details
    }
}

.with_ud_font {
    font-family: var(--font-roboto), var(--font-biz-udp-gothic), var(--main-font) !important;
    letter-spacing: 1px;

    * {
        --main-font: var(--font-roboto), var(--font-biz-udp-gothic), var(--main-font);
    }

    strong, b {
        -webkit-text-stroke: 0.5px var(--base-font-color);
    }
}

.main_content > aside {
    display: none;
}

@media screen and (min-width: 1300px) {
    .layout {
        max-width: 1200px !important;
    }
    .main_content {
        display: grid;
        grid-template-areas: "article aside";
        grid-template-columns: 900px auto;
        grid-template-rows: minmax(0, 1fr);
        grid-gap: calc(var(--main-margin) / 2);

        & > .article_wrapper {
            grid-area: article;
        }

        & > aside {
            grid-area: aside;
            display: block;
            position: relative;
            .blog_side_bar {
                height: fit-content;
                position: sticky;
                top: 1em;
            }
        }
    }
}
